@CHARSET "ISO-8859-1";
html,body {
	background-color: #FFFFFF;
	color: #666666;
	font-family: DinPro, Arial, Helvetica, sans-serif;
	font-weight: normal;
	margin: 0px;
	padding: 0px;
	font-size: 12px;
	overflow-y: auto;
	overflow-x: hidden;
	height: 100%
}

#wrapper {
	min-height: 100%;
	position: relative;
}

#header {
	
}

#content {
	padding-bottom: 15px; /* Height of the footer element */
}

#footer {
	background: #333 url(../images/css-tooltip-gradient-bg.png) repeat-x 0 0;
	color: #FFFFFF;
	width: 100%;
	height: 15px;
	position: absolute;
	bottom: 0;
	left: 0;
}
.blueBackground{
	background:#3e80c2;
	}
.subTitle{
	padding:4px;
	font-size: 14px;
	font-weight:bold;
	color:#FFFFFF;
}	
.centerBox{
	margin-left:auto;
	margin-right:auto;
}
.padding5{
	padding:8px;
	}
.margin7Bot{
	margin-bottom: 7px;
	}
.titleFont{
	font-size:16px;
	font-weight: bold; 
	text-align:center; 
}
.redFont{
	color:red;
	}
.paddingtop20px{
	padding-top:20px;
	}	
.Bold{
font-weight: bold;
}
.font14px{
	font-size:14px;
	}
.borderGrey{
	border:1px solid #CCCCCC;
	}
.relianceBlue{
	background: #3e80c2 !important;
	}
#leftMenu a{
	text-decoration: none;
	color:#FFFFFF;
	display:block;
}
#leftMenu a:HOVER{
	text-decoration:underline;
	color:#FFFFFF;
	display:block;
	font-size:14px;
}
#leftMenu a:FOCUS{
	text-decoration:underline;
	font-size:14px;
	color:#FFFFFF;
	display:block;
}
/* Begin Navigation Bar Styling */
   #nav {
      width: 100%;
      float: left;
      margin: 0 0 1em 0;
      padding: 0;
      list-style: none;
      background-color: #3e80c2;
      border-bottom: 1px solid #ccc; 
      border-top: 1px solid #ccc; }
   #nav li {
      float: left; }
   #nav li a {
      display: block;
      padding: 8px 15px;
      text-decoration: none;
      font-weight: bold;
      color: #FFFFFF;
      font-size:12px;
      border-right: 1px solid #ccc; }
   #nav li a:hover {
      color: #3e80c2;
      background-color: #fff; }
   #nav li a.active {
      color: #3e80c2;
      background-color: #fff; }
   /* End navigation bar styling. */
   
   /* This is just styling for this specific page. */
   
   #wrap {
      width: 100%;
      margin: 0 auto;
     }
 .whiteFont{
 color:#FFFFFF !important ;
 }
 .blueFont{
 color:#3e80c2;
 } 
 .paddingLeft5{
 padding-left:8px;
 }
 .width16{
 width:16.6%;
 }
.centerAlign{
	text-align: center;
	}
.textDocor{
	text-decoration: none !important;
	}
/**
.rowTables table tr:nth-child(even) {
	  background: #ffffff;
	}

.rowTables table tr:nth-child(odd) {
	  background: #D7EAFE;
	} **/
.odd0 {
	  background: #ffffff;
}
.odd1 {
	  background: #D7EAFE;
}
table.its thead tr{
	background-color: #69C;
	color:#FFFFFF;
	}
.its{
	border: 1px solid #666;
width: 98%;

	}
.odd {
	  background: #ffffff;
}
.even {
	  background: #D7EAFE;
}
.tableStyle{
	
	border:1px solid #75B8FA;
	}
.tableCol{
	border-collapse:collapse; 
	}
.width95{
	width:95%;
	}
.paddingRight5{
	padding-right:5px;
	}
.width300{
	width: 300px;
}
input[type="text"],input[type="password"]{
	width:150px;
	padding:2px;
	border-radius:5px;
}
select{
	width:150px;
	padding:2px;
	border-radius:5px;
}
input[type=button],input[type=submit] {
	width:100px;
	background:#3e80c2;
	color:#FFFFFF;
	border-radius:5px;
}
.headerBg {
	background: #333 url(../images/css-tooltip-gradient-bg.png) repeat-x 0 0;
}

.logo {
	 width: 175px;
	height: 74px; 
	background-image: url(../images/logo_small.png);
	background-repeat: no-repeat;
	background-color: transparent;
	text-indent: -9999px;
	/* background-size: cover; */
	margin-left: 45px;
}


	